.svg-icon {
  height: 50px;
  position: relative;
  top: 17px;
  width: 50px;
}

#submit-add-button,
#submit-search-button {
  height: 48px;
  margin-left: -8px;
  width: 112px;
}

#add-customer-button,
#submit-add-button {
  background-color: $accent-nav;

  &:hover {
    background-color: darken($accent-nav, 14%);
  }

  &:active {
    background-color: darken($accent-nav, 20%);
  }
}

#user-not-found,
#user-already-exists {
  color: rgb(255, 65, 51);
  display: inline;
  font-size: 22px;
  margin-left: 15px;
}