.top-header {
  position: sticky;
  top: 0;
}

nav {
  align-items: center;
  background-image: linear-gradient(to right, $accent-nav , darken($accent-nav, 6%));
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 0 8%;
  width: 100%;

  h2 {
    height: 50px;
    padding-top: 2px;
  }
}

.customer-tab {
  align-items: center;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.297);
  display: flex;
  height: 50px;
  padding: 0 8%;
  width: 100;

  h3 {
    padding-top: 4px;
  }
}

#current-user {
  background-color: darken($background-color, 6%);
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.322);
  color: $text-color;
  font-weight: 600;
  padding: 4px 8px 0 8px;
}

.general-view-button {
  background-color: darken($background-color, 6%);
  border-radius: 100%;
  border: 1px solid darken($background-color, 12%);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.49);
  color: $important-color;
  cursor: pointer;
  margin-left: 10px;
  padding: 0 9px;
  transform: rotate(45deg);
  transition: .20s;

  &:hover {
  background-color: darken($background-color, 12%);
  transform: rotate(20deg);
  transition: .20s;
  }

  &:active {
    background-color: darken($background-color, 20%);
  }
}

.tab-active {
  background-color: lighten($accent-nav, 12%);
  border-bottom-color: darken($accent-nav, 30%);
}

.tab-main {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 170px;
  justify-content: space-between;
}

#rooms-available,
#overall-revenue {
  font-weight: 700;
}

.wave-image {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}