.rooms-tab {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.general-room-stats {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;

  section {
    align-items: center;
    background-color: $section-background;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.49);
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 15px;
    width: 48%;

    h4 {
      border-bottom: 2px solid lightgray;
      padding-bottom: 8px;
      text-align: center;
      width: 95%;
    }

    ul {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
    }

    li {
      font-size: 20px;
      padding: 0;
      pointer-events: none;
    }

    table {
      margin-top: 20px;
      padding: 0 6%;
    }
  }
}

.general-room-search {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0px;
  margin-top: 20px;
  width: 100%;

  section {
    align-items: center;
    background-color: $section-background;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.49);
    display: flex;
    flex-direction: column;
    min-height: 185px;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 48%;

    h3 {
      border-bottom: 2px solid lightgray;
      padding-bottom: 8px;
      text-align: center;
      width: 95%;
    }
  }

  input {
    margin-left: 0;
    margin-top: 20px;
    text-align: center;
  }

  button {
    background-color: $accent-footer;
    border-radius: 4px;
    height: 45px;
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: center;
    width: 280px;
    
    &:hover {
      background-color: darken($accent-footer, 8%);
      transition: .15s; 
    }
  
    &:active {
      background-color: darken($accent-footer, 13%);
    }
  }
}

.booking-results {
  padding-bottom: 80px;
  width: 100%;

  article {
    align-items: center;
    background-color: $section-background;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.49);
    display: flex;
    height: 160px;
    justify-content: space-evenly;
    margin-bottom: 20px;
    padding: 0 40px;
    width: 100%;
  }
}

.booking-result-1 {
  border-left: 2px lightgray solid;
  height: 98px;
  padding-left: 10px;
  width: 370px;
}

.booking-result-2 {
  border-left: 2px lightgray solid;
  height: 98px;
  padding-left: 10px;
  width: 450px;
}

.booking-result-3 {
  align-items: center;
  border-radius: 8px;
  border: 2px solid lightgray;
  display: flex;
  flex-direction: column;
  height: 98px;
  padding: 10px;
  width: 300px;

  h1 {
    margin: 0;
    padding: 0;
  }
}

#booking-history {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

#personalized-room-stats {
  margin-bottom: 30px;
}

th {
  font-size: 20px;
  text-align: left;
}

#book-another-button {
  background-color: #ff9595;
  margin-top: -10px;

  &:hover {
    background-color: darken(#ff9595, 6%);
  }

  &:active {
    background-color: darken(#ff9595, 12%);
  }
}

.filter-bookings {
  align-items: center;
  background-color: $section-background;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.49);
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding-bottom: 30px;
  width: 100%;

  header {
    align-items: center;
    border-bottom: 2px solid rgb(169, 169, 169);
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    width: 95%;
  }

  main {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    width: 90%;

    section {
      display: flex;
      flex-direction: column;
      height: 80px;
      justify-content: space-between;
    }

  }
}

.filterings {
  align-items: center;
  display: flex;
  justify-content: flex-end;

  input {
    font-size: 16px;
    height: 32px;
    width: 130px;
  }

  button {
    font-size: 16px;
    height: 32px;
    padding-left: 5px;
    width: 65px;
  }
}

select {
  border-radius: 5px;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.49);
  color: #545454;
  cursor: pointer;
  font-size: 16px;
  height: 26px;
}

.search-404 {
  color: #ed5a5a;
  font-size: 50px;
  margin-top: 50px;
}

.search-advice {
  color: #989898;
  margin-left: 130px;
}

.book-room {
  width: 100px;
}

.select-room-article {
  width: 100%;
}

.booking-result-4 {
  border-left: 2px lightgray solid;
  height: 98px;
  padding-left: 10px;
  width: 350px
}

.booking-result-5 {
  border-left: 2px lightgray solid;
  height: 98px;
  padding-left: 10px;
}

.booking-result-6 {
  align-items: center;
  border-radius: 8px;
  border: 2px solid lightgray;
  display: flex;
  flex-direction: column;
  height: 98px;
  padding: 10px;
  width: 300px;

  h1 {
    margin: 0;
    padding: 0;
  }
}

#search-results {
  width: 100%;
}