.rooms-tab {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.general-room-stats {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;

  section {
    width: 48%;
    background-color: $section-background;
    border-radius: 4px;
    display: flex;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.49);
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 20px;

    h4 {
      width: 95%;
      text-align: center;
      padding-bottom: 8px;
      border-bottom: 2px solid lightgray;
    }

    ul {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
    }

    li {
      padding: 0;
      pointer-events: none;
      font-size: 20px;
    }

    table {
      margin-top: 20px;
      padding: 0 6%;
    }
  }
}

.general-room-search {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0px;

  section {
    width: 48%;
    min-height: 185px;
    background-color: $section-background;
    border-radius: 4px;
    display: flex;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.49);
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;

    h3 {
      border-bottom: 2px solid lightgray;
      width: 95%;
      text-align: center;
      padding-bottom: 8px;
    }
  }

  input {
    margin-left: 0;
    margin-top: 20px;
    text-align: center;
  }

  button {
    background-color: $accent-footer;
    border-radius: 4px;
    height: 45px;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    width: 280px;
    
    &:hover {
      background-color: darken($accent-footer, 8%);
      transition: .15s; 
    }
  
    &:active {
      background-color: darken($accent-footer, 13%);
    }
  }
}

.booking-results {
  width: 100%;
  padding-bottom: 80px;

  article {
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.49);
    padding: 0 40px;
    height: 160px;
    border-radius: 5px;
    background-color: $section-background;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
  }
}

.booking-result-1 {
  width: 370px;
  height: 98px;
  border-left: 2px lightgray solid;
  padding-left: 10px;
}

.booking-result-2 {
  width: 450px;
  border-left: 2px lightgray solid;
  padding-left: 10px;
  height: 98px;
}

.booking-result-3 {
  width: 300px;
  height: 98px;
  display: flex;
  border: 2px solid lightgray;
  border-radius: 8px;
  padding: 10px;
  align-items: center;
  flex-direction: column;

  h1 {
    padding: 0;
    margin: 0;
  }
}

#booking-history {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#personalized-room-stats {
  margin-bottom: 30px;
}

th {
  text-align: left;
  font-size: 20px;
}

#book-another-button {
  margin-top: 20px;
  background-color: $accent-nav;

  &:hover {
    background-color: darken($accent-nav, 15%);
  }

  &:active {
    background-color: darken($accent-nav, 25%);
  }
}

#book-today-button {
  background-color: $accent-footer;

  &:hover {
    background-color: darken($accent-footer, 15%);
  }

  &:active {
    background-color: darken($accent-footer, 25%);
  }
}

.filter-bookings {
  background-color: $section-background;
  width: 100%;
  display: flex;
  border-radius: 3px;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.49);
  margin-bottom: 30px;

  header {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 95%;
    border-bottom: 2px solid rgb(169, 169, 169);
  }

  main {
    margin-top: 15px;
    display: flex;
    width: 90%;
    justify-content: space-evenly;

    section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 80px;
    }

  }
}

.filterings {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

select {
  height: 26px;
  color: #545454;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.49);
  border: none;
}