// colors
$accent-footer: #99BBE1;
$accent-nav: #FFD743;
$background-color: white;
$important-color: #d54646;
$section-background: #dde4ee;
$text-color: #2c303c;

// fonts
$body-font: 'Avenir Next';
$logo-font: 'Didot';