@import 'variables';
@import 'main';
@import 'customers';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $background;
  font-family: $body;
  margin: 0;
  padding: 0;
}

.wave-image {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
}