@import 'variables';
@import 'main';
@import 'customers';

// * { background-color: rgba(255,0,0,.2); }
// * * { background-color: rgba(0,255,0,.2); }
// * * * { background-color: rgba(0,0,255,.2); }
// * * * * { background-color: rgba(255,0,255,.2); }
// * * * * * { background-color: rgba(0,255,255,.2); }
// * * * * * * { background-color: rgba(255,255,0,.2); }
// * * * * * * * { background-color: rgba(255,0,0,.2); }
// * * * * * * * * { background-color: rgba(0,255,0,.2); }
// * * * * * * * * * { background-color: rgba(0,0,255,.2); }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2;
  font-family: $body-font;
  margin: 0;
  padding: 0;
}

h1 {
  color: $text-color;
  font-size: 35px;
  padding: 20px 0 20px 0;
}

h2 {
  color: $text-color;
  font-family: $logo-font;
  font-size: 40px;
  font-style: italic;
  font-weight: 800;
}

h3 {
  color: $text-color;
  font-family: $body-font;
  font-size: 25px;
  font-weight: 500;
}

h4 {
  color: $text-color;
  font-size: 25px;
  font-weight: 500;
}

.wave-image {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
}

button,
input {
  &:focus {
    outline: none;
  }
}